* {
    padding: 5px;
    margin: 0px;

}


body {
    background-color: #1D6A73;
    font-family: Arial, Helvetica, sans-serif;
    color: #cab8b9;
}

h1 {
    color: #032757;

}

header {
    margin: 20px auto;
    width: 200px;
    text-align: center;
}

section {
    background-color: #175073;
    width: 400px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 4px 3px 4px rgba(0, 0, 0, 0.226);
    padding: 10px;
    font-weight: bold;
}


#btn {
    text-align: center;
}

#titulo {
    text-align: center;
    padding: 20px;
}

#img {
    margin: auto;
    border-radius: 250px;
}

footer {
    margin: 10px auto;
    width: 200px;
    text-align: center;

}