* {
    padding: 0px;
    margin: 0px;
}

:root{

}

body{
 background-color: aquamarine;
 font-family: Arial, Helvetica, sans-serif;
}

header{
    margin: 20px auto;
    width: 200px;
    text-align: center;
}

section{
    background-color: white;
    width: 400px;
    height: 350px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 4px 3px 4px rgba(0, 0, 0, 0.226);
}

#msg{   
    text-align: center;
    padding: 20px;    
}

#img{
    width: 250px;
    height: 250px;
    margin: auto;
    border-radius: 250px;
    background-image: url('../img/manha.jpg');
    
}

footer{
    margin: 10px auto;
    width: 200px;
    text-align: center;

}

